@{
    Layout = "_Layout";
}

@section Navbar {
    <li class="nav-item">
        <a class="nav-link" asp-controller="Collections" asp-action="Index">
            Collections
        </a>
    </li>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

@RenderBody()