@model GGStream.Models.Collection

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Collection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="URL" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseColor" class="control-label"></label>
                <input asp-for="BaseColor" type="color" class="form-control" />
                <span asp-validation-for="BaseColor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Private" /> @Html.DisplayNameFor(model => model.Private)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InstructionType" class="control-label"></label>
                <select asp-for="InstructionType" asp-items="Html.GetEnumSelectList<InstructionType>()">
                    <option selected="selected" value="">Select a type</option>
                </select>
                <span asp-validation-for="InstructionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallLink" class="control-label"></label>
                <input asp-for="CallLink" class="form-control" />
                <span asp-validation-for="CallLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
