@{
    ViewData["Title"] = "Home Page";
}

<div id="player"></div>

@section Scripts {
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @await Html.PartialAsync("_OvenPlayerStartup", new OvenPlayerConfiguration(Configuration)
    {
        StreamKey = "personal-streamkey"
    })
}