/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Font
-------------------------------------------------- */

html, body {
    font-family: 'Cairo', sans-serif;
}

h6 {
    font-size: 1.1rem;
}

/* Base colors
-------------------------------------------------- */
.bg-ggstream-nav {
    background-color: #172b4d;
}

.bg-ggstream-base {
    background-color: #213D6E;
}

.bg-ggstream-accent {
    background-color: #527FCB;
}

.navbar-title {
    font-size: 1.75rem;
    font-weight: 300;
}

/* Navbar
-------------------------------------------------- */
.navbar-nav .nav-link.nav-btn {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-transform: none;
    line-height: 0.5 !important;
}

.navbar-nav .nav-link.nav-btn.btn-outline-secondary:hover {
    color: #212529;
}

.popover-header {
    text-align: center;
}

/* OvenPlayer
-------------------------------------------------- */
.op-container {
    max-width: 1440px;
}

/* Footer
-------------------------------------------------- */
.footer {
    padding: 1rem;
}

/* Bootstrap utility extensions
-------------------------------------------------- */
.flex-1-auto {
    flex: 1 1 auto;
}

.flex-0-auto {
    flex: 0 0 auto;
}

.mh-95 {
    max-height: 95%;
}

.h-6rem {
    height: 6rem;
}

/* Extra responsive breaks
-------------------------------------------------- */
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}