/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Base colors
-------------------------------------------------- */
.bg-ggstream-nav {
    background-color: #172b4d;
}

.bg-ggstream-base {
    background-color: #213D6E;
}

.bg-ggstream-accent {
    background-color: #527FCB;
}

/* Flexbox helpers
-------------------------------------------------- */
.flex-auto {
    flex: 1 1 auto;
}

/* OvenPlayer
-------------------------------------------------- */
.op-container {
    max-width: 1440px;
}

/* Extra responsive breaks
-------------------------------------------------- */
@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}