@model GGStream.Models.Stream

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <span>@Model.ID</span>
            </div>
            <div class="form-group">
                <label asp-for="Collection" class="control-label"></label>
                <span>@Model.CollectionURL</span>
            </div>
            <div class="form-group">
                <label asp-for="StreamKey" class="control-label"></label>
                <span>@Model.StreamKey</span>
            </div>
            <input type="hidden" asp-for="StreamKey" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
