@model Stream

@{
    ViewData["Title"] = Model.Collection != null ? Model.Collection.Name : "Stream";
}

<div class="row mb-3">
    <div class="col-12 op-container">
        <div id="player"></div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-8 justify-content-center">
        <h2>@Model.Collection.Name</h2>
    </div>
    <div class="col-4">
        <span>@Model.Collection.Private</span>
    </div>
</div>

@section Scripts {
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @await Html.PartialAsync("_OvenPlayerStartup", new OvenPlayerConfiguration(Configuration)
    {
        StreamKey = Model.FullStreamKey
    })
}