@model Stream

@{
    ViewData["Title"] = Model.Collection.Name;

    ViewData["Title:Nav"] = Model.Collection.Name;
    ViewData["Color:Nav"] = Model.Collection.DarkColor;
    ViewData["Color:Base"] = Model.Collection.BaseColor;
    ViewData["Color:Accent"] = Model.Collection.LightColor;
}

<div class="row mb-3">
    <div class="col-12 op-container">
        <div id="player"></div>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-8 justify-content-center">
        <h2>@Model.Collection.Name</h2>
    </div>
    <div class="col-4">
        <span>@Model.Collection.Private</span>
    </div>
</div>

@section Scripts {
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @await Html.PartialAsync("_OvenPlayerStartup", new OvenPlayerConfiguration(Configuration)
    {
        StreamKey = Model.StreamKey
    })
}