@model Stream

@{
    ViewData["Title"] = Model.Collection.Name;

    ViewData["Title:Nav"] = Model.Collection.Name;
    ViewData["Color:Nav"] = Model.Collection.DarkColor;
    ViewData["Color:Base"] = Model.Collection.BaseColor;
    ViewData["Color:Accent"] = Model.Collection.LightColor;
}

<div id="player"></div>

@section Scripts {
    @inject Microsoft.Extensions.Configuration.IConfiguration Configuration

    @await Html.PartialAsync("_OvenPlayerStartup", new OvenPlayerConfiguration(Configuration)
    {
        StreamKey = Model.StreamKey
    })
}